h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: theme('fontFamily.heading');
}

h1 {
  @apply font-bold text-4xl;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4 {
  @apply font-bold text-lg;
}

h5 {
  @apply font-bold;
}

h6 {
  @apply font-bold text-sm;
}

p {
  @apply mb-3;
}

a {
  @apply underline;

  &:hover {
    @apply no-underline;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
  }
}

